<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RONJA CERAMICS </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="assets\css\style.css" rel="stylesheet">

</head>

<body>

  <img src="assets\img\logotrans.png" class="mx-auto d-block logo img-fluid" alt="logo">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html">O NAS</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="gallery.html">GALERIA</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="shop.html">SKLEP</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="workshop.html">WARSZTATY</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="projects.html">PROJEKTY</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="contact.html">KONAKT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


<!-- Footer -->
    <div class="mt-5 pt-5 pb-5 footer nopadding">
        <div class="container">
            <div class="row nopadding ">
                <!-- pusty DIV -->
                <div class="col-lg-5 col-xs-12 icons">
                  <ul class="row">
                    <li class="col-xs-6 col-sm-2">
                      <a href="#">
                        <img class="icon smedia " src="assets\img\icons\fb.png">
                      </a>
                    </li>
                    <li class="col-xs-6 col-sm-2">
                      <a href="#">
                        <img class="icon smedia" src="assets\img\icons\tw.png">
                      </a>
                    </li>
                    <li class="col-xs-6 col-sm-2">
                      <a href="#">
                        <img class="icon smedia" src="assets\img\icons\insta.png">
                      </a>
                    </li>
                  </ul>

                </div>
                <!-- koniec pusty DIV -->
                <div class="col-lg-3 col-xs-12 head-foot">
                  <br>
                    <p class="head-foot"><a href="{% url 'pagemap' %}">POLITYKA PRYWATNOŚCI</a></p>
                    <p class="head-foot"><a href="">REGULAMIN</a></p>
                    <p class="head-foot"><a href="{% url 'home' %}">ZWROTY</a></p>
                </div>
                <div class="col-lg-4 col-xs-12 location head-foot2 nopadding">
                  <br>
                    <p><i class="fa fa-address-card mr-3"></i>Stalowa 15, 02-031 Warszawa</p>
                    <p><i class="fa fa-phone mr-3"></i>00 000 00 00</p>
                    <p><i class="fa fa-envelope mr-3"></i>ronjaceramics@gmail.com</p>
                </div>
            </div>
            <div class="row mt-5 nopadding">
                <div class="col copyright">
                    <p class="author"><small class="text-white-50">&copy; MOLIBDEX 2020</small></p>
                </div>
            </div>
        </div>
    </div>
    <!--KONIEC Footera -->

  <!-- Bootstrap core JavaScript -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
