
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*------------------------------------------------
13.0 Theme specific styles
----------------------------------------------- */


body {
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-position: center;
	margin-bottom: 0px;
	padding-bottom: 0px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: #ffffff;

}

 .logo {
   width: 100px;
   margin-top: 70px;
	 margin-bottom: 25px;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.75;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}


.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler-icon {
  background: black;
}

#mainNav {
  padding-bottom: 0px;
}
.nav-link {
	font-size: 12px;
	font-weight: lighter;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

#mainNav .navbar-brand {
  color: black;
}

#mainNav .navbar-nav .navbar-right  .nav-item .nav-link {
  color: #333333;

	text-transform: lowercase;
}

#mainNav .navbar-nav .nav-item .active .nav-link {
  color: black;
}
 .navbar-right {
	 color: black;
}

#site-navigation .navbar {
	display: flex;
	text-align: center;
	margin-left:27%;
	margin-right:36%;
	padding: none;

	flex: auto;
}

.carousel-item {

	width: 75px;
}
#site-navigation .nav-link {
	color: black;

}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #333333;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: grey;
  }
}

@media (max-width: 768px){
	#site-navigation .navbar {
		display: block;
		text-align: center;
		margin: 50px;
		width: 75%;
		flex: auto;
	}
}

/***** HOME PAGE ****/
.content {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.card {
	max-width: 75%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.multi-item-example {
	padding-bottom: 0px;
}
@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 75%;
margin-left: 85px;
 } }

.carousel-multi-item-2 .card img {
border-radius: 2px;
}

/**** ABOUT US ****/
.cardus {
  padding: 0;
	margin-left: 275px;
  margin-right: 275px;
	margin-top: 40px;
	margin-bottom: 55px;
  background: none;
	text-align: justify;
	font-size: 12px;
}
.onr{
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.card-body {
  padding: 0px;
  padding-bottom: 0px;
  margin: 0px;
}


.card-body p {

	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	margin-top: 0px;
}
.card-text p {
	padding: 0px;
	margin: 0px;

}

@media (max-width: 1000px) {
  .cardus {
    margin: 5px;
    font-size: 11px;
		display: block;
  }

  .card-body p {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }
}
/****** WORKSHOPS ******/
.cardwork {
  padding: 0 !important;
  margin-left: 300px;
  margin-right: 100px;
	margin-bottom: 50px;
  align-items: center;
  padding: 0px;
  background: none;
  border: 1px;
}
.card-bodywork {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 150px;
}
.cardwork img {

  padding-top: 0px;
	height: auto;
}
.card-bodywork p {
  font-size: 17px;
	text-align: justify;
}
.card-bodywork b {
  font-size: 19px;
  text-transform: uppercase;
	text-align: justify;
}

@media (max-width: 1000px) {
  .cardwork {
    margin: 5px;
  }
	.hardemptyspace {
		display: none;
	}
  .about {
    display: inline-block;
    margin:5px;
		font-size: 8px;
  }
	.card-bodywork {
	  padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 5px;
	  padding-right: 0px;
	}
	.card-bodywork p  {
	  font-size: 12px;
		text-align: justify;
	}
	.card-bodywork b {
	  font-size: 13px;
		text-align: justify;
	}
	.cardwork img {
	  border-radius: 10%;
	  padding-top: 0px;
		margin-top: 0px;
	}
}
/****** GALLERY ****/
#demo {
  height:100%;
  position:flex;
  overflow:hidden;
}
.gallery {
	margin-left: 22%;
	margin-right: 15%;
}

.green{
  background-color:#6fb936;
}
        .thumb{
            margin: 20px;
        }

        .page-top{
            margin-top:30px;
        }


img.zoom {
    width: 100%;
    height: 200px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {

     border-bottom: none;
}
    .modal-title {
        color:#000;
}
.page-top {
	padding-left: 200px;
}
/***** Contact ****/
.cardcon {
  padding: 0 !important;
	margin-left:250px;
	margin-right:200px;
	margin-top:50px;
  margin-bottom:0px;
	padding-bottom: 0px;
  background: none;
  border: none;
}
.card-bodycon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
.card-bodycon p {
  font-size: 17px;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1000px) {
  .cardcon {
    margin: 5px;
    font-size: 11px;
  }

  .con {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }
}
/***** Footer *****/
ul {
  list-style-type: none;
 }
.footer{
    height: auto;
    width: 100%;
    position: sticky;
		padding: 0px;
}
.icon{
  width: 35px;
	display: flex;
  height: auto;
}

.author {
    color: #ffffff;
}
.nopadding{
   padding: 0 !important;
   margin: 0 !important;
}

.head-foot a {
    color:#333333;
		font-size: 12px;
		font-weight: lighter;
		text-align: right;
		font-family: 'Pontano Sans', sans-serif;
		font-family: 'Open Sans', sans-serif;
}

.head-foot a:hover {
    color: #333333;
    text-decoration: none;
}
.head-foot p {
    text-align: right;

    color: #333333;
}
.head-foot2 p {
    color:#333333;
    text-align: left;

}
.head-foot li a {
    color:#333333;
}
.head-foot li a:hover {
    color: #black;
}
.head-news a {
    color: #333333;
    text-decoration: none;
}
.head-news a:hover {
    color: #E7E8EA ;
}
.foo {
	padding: 0px;

}

@media (max-width: 575px) {

	 .head-foot a {
		 	font-family: 'Pontano Sans', sans-serif;
			font-family: 'Open Sans', sans-serif;
	    color: #333333;
	    font-weight: 600;
			font-size: 14px;
	 }

}

.connect  {
	margin-left: 10px;
}

.carousel {
	margin-bottom: 40px;
}
