
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*------------------------------------------------
13.0 Theme specific styles
----------------------------------------------- */


body {
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  background-position: center;
	margin-bottom: 0px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: #E7E8EA; /* Old browsers */
background: -moz-linear-gradient(top,  #E7E8EA 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #E7E8EA 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #E7E8EA 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7E8EA', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

 .logo {
   width: 300px;
   height: auto;
   margin-top: 30px;
 }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
  font-family: 'Montserrat', sans-serif;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}


.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler-icon {
  background: black;
}

#mainNav {
  font-family: 'Raleway';
  padding-bottom: 0px;
}

#mainNav .navbar-brand {
  color: black;
}

#mainNav .navbar-nav .navbar-right  .nav-item .nav-link {
  color: #333333;
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item .active .nav-link {
  color: black;
}
 .navbar-right {
	 color: black;
}

#site-navigation .navbar {
	display: flex;
	text-align: center;
	margin-right: 375px;
	margin-left: 100px;
	width: 75%;
	flex: auto;
}

#site-navigation .nav-link {
	color: black;
	font-weight: 500;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #333333;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: grey;
  }
}

@media (max-width: 768px){
	#site-navigation .navbar {
		display: block;
		text-align: center;
		margin: 50px;
		width: 75%;
		flex: auto;
	}
}

/***** HOME PAGE ****/
@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 75%;
margin-left: 85px;
 } }

.carousel-multi-item-2 .card img {
border-radius: 2px;
}

/**** ABOUT US ****/
.cardus {
  padding: 0 !important;
  margin: 100px;
  background: none;
  border: none;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-body p {
  font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}

@media (max-width: 1000px) {
  .cardus {
    margin: 5px;
    font-size: 11px;
  }

  .about {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }
}
/****** WORKSHOPS ******/
.cardwork {
  padding: 0 !important;
  margin-left: 300px;
  margin-right: 100px;
	margin-bottom: 50px;
  align-items: center;
  padding: 0px;
  background: none;
  border: 1px;
}
.card-bodywork {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 150px;
}
.cardwork img {
  border-radius: 5%;
  padding-top: 0px;
	height: auto;
}
.card-bodywork p {
  font-size: 17px;
	text-align: justify;
}
.card-bodywork b {
  font-size: 19px;
  text-transform: uppercase;
	text-align: justify;
}

@media (max-width: 1000px) {
  .cardwork {
    margin: 5px;
  }
	.hardemptyspace {
		display: none;
	}
  .about {
    display: inline-block;
    margin:5px;
		font-size: 8px;
  }
	.card-bodywork {
	  padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 5px;
	  padding-right: 0px;
	}
	.card-bodywork p  {
	  font-size: 12px;
		text-align: justify;
	}
	.card-bodywork b {
	  font-size: 13px;
		text-align: justify;
	}
	.cardwork img {
	  border-radius: 10%;
	  padding-top: 0px;
		margin-top: 0px;
	}
}
/****** GALLERY ****/
.gallery {
 margin: 10px;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.jumbotron {
  background: #333333;
}
/***** Contact ****/
.cardcon {
  padding: 0 !important;
	margin-left:250px;
	margin-right:200px;
	margin-top:50px;
  margin-bottom:100px;
  background: none;
  border: none;
}
.card-bodycon {
  padding-top: 20%;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
.card-bodycon p {
  font-size: 17px;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1000px) {
  .cardcon {
    margin: 5px;
    font-size: 11px;
  }

  .con {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }
}
/***** Footer *****/
ul {
  list-style-type: none;
 }
.footer{
    height: auto;
    width: 100%;
		padding-bottom: none;
    position: sticky;
}
.icon{
  width: 80%;
  height: auto;
  margin-top: 0px;
}

.author {
    color: #ffffff;
}
.nopadding{
   padding: 0 !important;
   margin: 0 !important;
}

.head-foot a {
    color:#333333;
}

.head-foot a:hover {
    color: #333333;
    text-decoration: none;
}
.head-foot p {
    text-align: right;
    margin-top: 0px;
    color: #333333;
}

.head-foot a {
    text-align: right;
    margin-top: 0px;
    font-family: 'Raleway';
    color: #333333;
    font-weight: 600;
}
.head-foot2 p {
    color:#333333;
    text-align: left;
    margin-top: 0px;
}
.head-foot li a {
    color:#333333;
}
.head-foot li a:hover {
    color: #black;
}
.head-news a {
    color: #333333;
    text-decoration: none;
}
.head-news a:hover {
    color: #E7E8EA ;
}
.copyright {
	background: black;
	margin-bottom: 0px;
}

@media (max-width: 575px) {
  img.smedia {
    width: 50px;
    display: inline;
		flex: auto;
   }
	 .head-foot a {
	     font-family: 'Raleway';
	     color: #333333;
	     font-weight: 600;
			 font-size: 14px;

	 }
}
