
body {
  font-family: 'Lora';
  background-attachment: fixed;
  background-position: center;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: #E7E8EA; /* Old browsers */
background: -moz-linear-gradient(top,  #E7E8EA 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #E7E8EA 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #E7E8EA 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7E8EA', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

 .logo {
   width: 300px;
   height: auto;
   margin-top: 30px;

 }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}


.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler-icon {
  background: black;
}


#mainNav {

  font-family: 'Raleway';
  padding-bottom: 0px;
}

#mainNav .navbar-brand {
  color: black;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #333333;
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: black;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #333333;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: grey;
  }
}

/***** HOME PAGE ****/
@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 75%;
margin-left: 85px;
 } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

/**** ABOUT US ****/
.card {
  padding: 0 !important;
  margin: 100px;
  padding: 0px;

  background: none;
  border: none;
}
.about {
  display: inline-block;
  margin-right: 20px;
  margin-top: 45px;
}

@media (max-width: 768px) {
  .card {
    margin: 5px;
    font-size: 13px;
  }

  .about {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;

  }
}

}
/****** GALLERY ****/
.gallery {
 margin: 10px;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.jumbotron {
  background: #333333;
}
/***** Footer *****/
@media (max-width: 575px) {
  img.smedia {
    width: 50px;
    display: block;
   }
}

ul {
  list-style-type: none;
 }
.footer{

    height: auto;
    width: 100%;
    position: sticky;

}
.icon{
  width: 80%;
  height: auto;
  margin-top: 30px;
}
.author {
    color: #ffffff;
}
.nopadding{
   padding: 0 !important;
   margin: 0 !important;

}
.head-foot a {
    color:#333333;
}
.head-foot a:hover {
    color: #333333;
    text-decoration: none;
}
.head-foot p {
    text-align: right;
    margin-top: 3px;
    color: #333333;
}

.head-foot p {
    text-align: right;
    margin-top: 3px;
    font-family: 'Raleway';
    color: #333333;
    font-weight: 800;
}
.head-foot2 p {
    color:#333333;
    text-align: left;
    margin-top: 3px;
}
.head-foot li a {
    color:#333333;
}
.head-foot li a:hover {
    color: #black;
}
.head-news a {
    color: #333333;
    text-decoration: none;
}
.head-news a:hover {
    color: #E7E8EA ;
}
